<div class="row password-strength">
    <div class="col-4 px-0">
      <p class="strength-info">
        <img src="assets/images/{{ password.length > 7 ? 'success' : 'invalid' }}-tick.svg" alt="Tick" class="me-1 align-top" />8 characters
      </p>
    </div>
    <div class="col-4 px-0 text-center">
      <p class="strength-info">
        <img src="assets/images/{{ hasLowerCase ? 'success' : 'invalid' }}-tick.svg" alt="Tick" class="me-1 align-top" />1 lowercase
      </p>
    </div>
    <div class="col-4 px-0 text-end">
      <p class="strength-info">
        <img src="assets/images/{{ hasUpperCase ? 'success' : 'invalid' }}-tick.svg" alt="Tick" class="me-1 align-top" />1 uppercase
      </p>
    </div>
    <div class="col-5 px-0">
      <p class="strength-info mb-0">
        <img src="assets/images/{{ hasNumber ? 'success' : 'invalid' }}-tick.svg" alt="Tick" class="me-1 align-top" />1 number
      </p>
    </div>
    <div class="col-md-4 col-7 px-0 text-md-center">
      <p class="strength-info mb-0 symbol">
        <img src="assets/images/{{ hasSpecialCharacter ? 'success' : 'invalid' }}-tick.svg" alt="Tick" class="me-1 align-top" />1 Special character
      </p>
    </div>
  </div>
  