$white: #fff;
/* Black Colors */
$black: #000;
$black-a: #101214;

/* Grey Colors */
$grey-a: #2c2c2c;
$grey-b: #73808d;
$grey-c: #e1e1ed;
$grey-d: #acaac2;
$grey-e: #686b78;
$grey-f: #aaaaaa;
$grey-g: #6e7781;
$grey-h: #c4c4c4;
$grey-i: #414141;
$grey-j:#DFE1E6;
$grey-k:#262626;
$grey-l: #E0E0E0;
$grey-m:#FAFAFA;
$grey-n:#E1E1E1;
$grey-o:#DFE3E8;
$grey-p:#919EAB;
$grey-q:#eeeeee;
$grey-r:#C5B9FF;

/* Blue Colors */
$primary-blue: #282c3f;
$secondary-blue: #4b76c4;
$blue-a: #635bff;
$blue-b: #535665;
$blue-c: #24292f;
$blue-d: #0061ff;
$blue-e: #f5f5fa;
$blue-f: #03aaef;
$blue-g: #2e4f97;
$blue-h: #0d8af0;
$blue-i: #1275b1;
$blue-j:#040D21;
$blue-k:#3b5999;
$blue-l:#55acee;
$blue-m:#0077b5;
$blue-n:#00C8FF;
$blue-o:#111827;
$blue-p:#374151;
$blue-q:#343952;
/* Purple Colors */
$purple: #7f30cb;

$primary-green: #02b361;
$secondary-green: #01b460;
$yellow-a: #e8db72;

$red-primary:#D0011B;